body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 
}

main {
    flex: 1 0 auto;
}

/*blog posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta{
    margin-bottom: 20px;
    color: #555;
    font-style: oblique;
}
nav a{
    color: #555;
    font-size:20px;
}

#current-link{
   //text-decoration:aqua;
    
}
nav-wrapper{
    text-transform: uppercase;
    font-size: 45px;
    color: whitesmoke;
    font-style: initial
}

img{
    width: 400px;
    height: auto;
}

.nameheading{
  // color: #555;
   font-size: 30px;
   font-style: initial;
   font-variant: ruby;
    
 }

.container{
   // color:;
    font-size: 15px;
    font-style: initial;
    letter-spacing: 1px;
    line-height: 1.6em;
    font-weight: 600;
   
    
    
}

h1{
   margin: 3px;
   text-align: center;
  text-decoration-style: wavy;
  column-count: auto;
  //color: #e1bee7;

}

h3{
   margin: 3px;
  text-decoration-style: wavy;
  column-count: auto;
  
}

.just{
    width: 70px;
    height: 70px;
    text-align: right;
}

.swag{
    width: 70px;
    height: 70px;
    alignment-adjust: text-after-edge;
    text-align: right;
}

.sweg{
    width: 70px;
    height: 70px;
    text-align: right;
}


.coolbeans{
    width: 70px;
    height: 70px;
    text-align: right;
}
.ding{
     font-size: 30px;
    color: #555;
    font-style: initial
}

.dong{
      color: #555;
    font-size: 30px;
    font-style: initial;
    font-variant: ruby; 
}

.padded{
     // color: #555;
    font-size: 10px;
    font-style: initial;
    //font-variant: ruby; 
}
header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
          